@font-face {
    font-family: PressStart;
    src: url(./media/PressStart2P-Regular.ttf);
}

/*.something {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}*/

body {
    font-family: PressStart;
    margin: 0;
    padding: 0; 
    background-image: url("./media/pxArt.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

button {
    font-family: PressStart;
    font-size: 30px;
}

header {
    color: white;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: span 3;
    padding: 0;
    margin-bottom: 3em;
    background-color: rgb(172, 82, 177, 0.5);
    ;
    width: 100%;
    box-shadow: -15px 0 0 0 white, 15px 0 0 0 white, 0 -15px 0 0 white, 0 15px 0 0 white;
}

.wrapping {
    display: grid;
    place-items: center;
    justify-items: center;
    align-items: center;
    min-height: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-template-rows: min-content min-content min-content auto;
}

.nav-bar {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    grid-column: 3;
    grid-row: 3;
    padding: 10% 5% 10% 5%;
    background-color: rgb(255, 174, 0, 0.7);
    box-shadow: -15px 0 0 0 white, 15px 0 0 0 white, 0 -15px 0 0 white, 0 15px 0 0 white;
}

.nav-bar>li {}

.nav-bar :hover {
    background-color: rgb(156, 106, 0)
}

.canvas-position {
    grid-row: 3;
    grid-column: 2;
    justify-items: stretch;
    padding: 3%;
    background-color: rgb(172, 82, 177, 0.5);;
    box-shadow: -10px 0 0 0 rgb(255, 171, 3), 10px 0 0 0 rgb(81, 255, 46), 0 -10px 0 0 rgb(18, 219, 255), 0 10px 0 0 rgb(255, 58, 225);
}

.canvas-frame {
    display: grid;
    height: min-content;
    width: min-content;
}

#sketchCanvas {
    display: grid;
    column-gap: 0px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    background-color: white;
}

.options-box {
    grid-row: 3;
    grid-column: 1;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 5% 10% 5%;
    background-color: rgb(172, 82, 177, 0.5);
    box-shadow: -15px 0 0 0 white, 15px 0 0 0 white, 0 -15px 0 0 white, 0 15px 0 0 white;
}

.options-box>input {
    border: none;
    background-color: white;
    padding: 0;
    height: 50px;
    width: 50px;
    cursor: pointer;
    box-shadow: -5px 0 0 0 white, 5px 0 0 0 white, 0 -5px 0 0 white, 0 5px 0 0 white;
    transition: width 0.5s, height 0.5s;
}

.options-box>input:hover {
width: 55px;
height: 55px;
}



footer {

    grid-row: 5;
    grid-column-start: 1;
    grid-column-end: span 3;
    width: 100%;
    background-color: rgb(255, 174, 0);
    margin-top: auto;
    text-align: center;
}