body {
    display: grid;
    place-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
   grid-template-rows: repeat(4, 1fr);
}

.nav-bar {
grid-row: 1;
grid-column: 2;
list-style-type: none;
}

.nav-bar > li {
  
}

.button-section {
    grid-row: 2;
    grid-column: 2;
}

.canvas-position {
    grid-row: 3;
    grid-column: 2;
    justify-items: stretch;
}

.canvas-frame {
    display: grid;
    height: max-content;
    width: max-content;
}

#sketchCanvas {
    display: grid;
    column-gap: 0px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}


footer {
    grid-row: 4;
    grid-column: 2;
    margin-top: auto;
    text-align: center;
}