@font-face {
    font-family: PressStart;
    src: url(./media/PressStart2P-Regular.ttf);
}



body {
    font-family: PressStart;
    margin: 0;
    padding: 0;
    background-image: url("./media/pxArt.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

button {
    font-family: PressStart;
    font-size: 30px;
}

.wrapping {
    display: grid;
    place-items: center;
    justify-items: center;
    align-items: center;
    min-height: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-template-rows: min-content min-content min-content auto;
}

.nav-bar {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    grid-column: 3;
    grid-row: 3;
    background-color: rgb(255, 174, 0);
    
}

.nav-bar>li {
}

.nav-bar :hover {
    background-color: rgb(156, 106, 0)
}



.button-section {
    grid-row: 2;
    grid-column: 2;
}


.canvas-position {
    grid-row: 3;
    grid-column: 2;
    justify-items: stretch;
}

.canvas-frame {
    display: grid;
    height: min-content;
    width: min-content;
}

#sketchCanvas {
    display: grid;
    column-gap: 0px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    background-color: white;
}

.options-box {
    grid-row: 3;
    grid-column: 1;
    gap: 30px;
    display: flex;
    flex-direction: column;
    padding: 10% 5% 10% 5%;
    border: 5px double white;
    background-color: rgb(172, 82, 177);
    opacity: 0.8;
}

.options-box > button {
    opacity: 100%;
}


footer {

    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: span 3;
    width: 100%;
    background-color: rgb(255, 174, 0);
    margin-top: auto;
    text-align: center;
}

